<div class="container" id="homepage">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Enter the ingredient for a <%=@cocktail.name%></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% ingredient_name = [] %>
      <% @ingredients.each do |ingredient| %>
        <% name = ingredient.name %>
        <% ingredient_name << name %>
      <% end %>
      <% if @dose.errors.any? %>
        <ul>
          <%@dose.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= simple_form_for ([@cocktail, @dose]) do |f| %>
        <%= f.input :description, input_html: { placeholder: "10cl" } %>
        <%= f.input :ingredient_id, collection: @ingredients, include_blank:  "Pick up the ingredient" %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

