<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>
</head>
<body style="background-image: linear-gradient(to left, rgba(120,2,6,0.6) , rgba(6,17,97,0.6)), url('https://images.unsplash.com/photo-1455621481073-d5bc1c40e3cb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8da45f0fbede6fba674674a857e3b7d9'); background-size: cover">
<%= render "shared/navbar" %>

<%= yield %>

</body>
</html>
